$breakpoint-tablet: 768px;
.sgn {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  margin: 0;
  .profile {
    display: flex;
    padding: 0 0;
    align-items: center;
    .img {
      img {
        width: 40px;
        border-radius: 50%;
      }
    }
    .name-username {
      display: flex;
      flex-direction: column;
      padding: 0 10px;
      height: 40px;
      justify-content: center;

      .name {
        font-size: 20px;
        font-weight: 300;
        text-align: start;
        color: white;
        text-decoration: none;
        @media (max-width: $breakpoint-tablet) {
            font-size: 18px;
        }
      }
      .username {
        text-decoration: none;
        text-align: start;
        font-size: 15px;
        font-weight: 400;
        color: #735f32;
      }
    }
  }
  .follow-btn {
    @media (max-width: $breakpoint-tablet) {
        display: none;
    }
    .follow{
        background-color: transparent;
      font-size: 18px;
      // height: 22px;
      padding: 2px;
      margin-right: 20px;
      color: #c69749;
    //   cursor: pointer;
      text-decoration: none;
      border: 0;
    }
  }
}
